[submodule "cluster"]
	path = cluster
	url = ../cluster
[submodule "platform-cicd"]
	path = platform-cicd
	url = ../platform-cicd
[submodule "platform-gitops"]
	path = platform-gitops
	url = ../platform-gitops
[submodule "toolbox"]
	path = toolbox
	url = ../toolbox
[submodule "ci-templates"]
	path = ci-templates
	url = ../ci-templates
[submodule "helloworld"]
	path = helloworld
	url = ../helloworld
[submodule "helloworld-iac"]
	path = helloworld-iac
	url = ../helloworld-iac
